/* Add your custom styles here */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable sidebar */
}

.main-content {
    margin-top: 48px;
}
